<div class="titles">
  <h1>Boards</h1>
</div>

<% @boards.each do |board| %>
  <%= link_to board_path(board) do %>
    <div class="entry">
      <h1><%= board.title %></h1>
      <%= board.body %>
    </div>
  <% end %>
<% end %>